<div class="comments">
    {{#each this}}
    <div class="card">
        <h3 class="card-header"></h3>
        <div class="comment card-body">
            <div class="text">
                {{comment}}
            </div>
            <div class="meta">
                {{user.username}}, {{format_date createdAt}}
            </div>
        </div>
    </div>
    {{/each}}
</div>