{{#if posts.length}}
<div>
    <h2>Current Posts</h2>
    {{#each posts as |post|}}
    {{> dashboard-postinfo post}}
    {{/each}}

</div>
{{/if}}

<button type="submit" class="btn btn-primary"><a class="link" href="/dashboard/new">+ New Post</a></button>

<script src="/js/post.js"></script>