<div>
    <h2>Edit Post</h2>

    <div class="card">
        <form class="card-body edit-post-form">
            <label for="title">Title:</label>
            <input class="form-input" type="text" name="title" value="{{post.title}}" />

            <label for="content">Content:</label>
            <input class="form-input" type="text" name="content" value="{{post.content}}" />

            <button type="submit" class="btn">Update Post</button>
            <button type="button" class="delete-button btn">Delete Post</button>
        </form>
    </div>

</div>


<script src="/js/edit.js"></script>
<script src="/js/delete.js"></script>