<div>
    <h2>Edit Comment</h2>

    <form class="form edit-comment-form">
        <div class="form-group">
            <label for="comment">Comment:</label>
            <input class="form-input" type="text" id="comment" name="comment" />
        </div>
        <div class="form-group">
            <button type="submit" class="edit-comment-form btn btn-primary">Update Comment</button>
            <button type="submit" class="delete-comment-button btn btn-primary">Delete Comment</button>
        </div>
    </form>

</div>

<script src="/js/edit-comment.js"></script>
<script src="/js/delete-comment.js"></script>