<div class="row">
    <h2>Login</h2>

    <form class="form login-form">
        <div class="form-group">
            <label for="username-login">Username:</label>
            <input class="form-input username-login" type="text" id="username-login" />
        </div>
        <div class="form-group">
            <label for="password-login">Password:</label>
            <input class="form-input password-login" type="password" id="password-login" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
        <div class="form-group">
            <a class="signup-link" href="/signup">Signup instead</a>
        </div>
    </form>
</div>

<script src="/js/login.js"></script>